Repository soviar-systems/ai_engineering_handbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files, check-script-suite, check-evidence, check-adr-index, test-check-broken-links, test-check-link-format, test-jupytext-sync, test-jupytext-verify-pair, test-check-api-keys, test-check-json-files, test-prepare-prompt, test-check-script-suite, test-validate-commit-msg, test-generate-changelog, test-check-evidence, test-check-adr-index

Path conditions:
  check-broken-links: any of: \.md$
  check-link-format: any of: \.md$
  jupytext-sync: any of: \.(md|ipynb)$
  jupytext-verify-pair: any of: \.(md|ipynb)$
  check-api-keys: any file but: ^(tools/tests/test_check_api_keys\.py|tools/docs/scripts_instructions/check_api_keys_py_script\.md)$
  check-json-files: any of: \.json$, but not: ^(tools/tests/|\.vscode/)
  check-script-suite: any of: ^tools/(scripts/.*\.py|tests/test_.*\.py|docs/scripts_instructions/.*_py_script\.md)$
  check-evidence: any of: ^architecture/evidence/
  check-adr-index: any of: ^architecture/(adr/adr_.*\.md|adr_index\.md)$
  test-check-broken-links: any of: ^tools/(scripts/check_broken_links\.py|scripts/paths\.py|tests/test_check_broken_links\.py)$
  test-check-link-format: any of: ^tools/(scripts/check_link_format\.py|scripts/paths\.py|tests/test_check_link_format\.py)$
  test-jupytext-sync: any of: ^tools/(scripts/jupytext_sync\.py|scripts/paths\.py|tests/test_jupytext_sync\.py)$
  test-jupytext-verify-pair: any of: ^tools/(scripts/jupytext_verify_pair\.py|scripts/paths\.py|tests/test_jupytext_verify_pair\.py)$
  test-check-api-keys: any of: ^tools/(scripts/check_api_keys\.py|scripts/paths\.py|tests/test_check_api_keys\.py)$
  test-check-json-files: any of: ^tools/(scripts/check_json_files\.py|scripts/paths\.py|tests/test_check_json_files\.py)$
  test-prepare-prompt: any of: ^tools/(scripts/prepare_prompt\.py|scripts/paths\.py|tests/test_prepare_prompt\.py)$
  test-check-script-suite: any of: ^tools/(scripts/check_script_suite\.py|scripts/paths\.py|tests/test_check_script_suite\.py)$
  test-validate-commit-msg: any of: ^(tools/(scripts/validate_commit_msg\.py|tests/test_validate_commit_msg\.py)|pyproject\.toml)$
  test-generate-changelog: any of: ^(tools/(scripts/generate_changelog\.py|tests/test_generate_changelog\.py)|pyproject\.toml)$
  test-check-evidence: any of: ^(tools/scripts/check_evidence\.py|tools/tests/test_check_evidence\.py|tools/scripts/paths\.py|architecture/evidence/evidence\.config\.yaml)$
  test-check-adr-index: any of: ^tools/(scripts/check_adr\.py|tests/test_check_adr\.py)$

docs: Restore RELEASE_NOTES.md to markdown links
  RELEASE_NOTES.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

fix: Do not ignore RELEASE_NOTES.md in deploy workflow
  .github/workflows/deploy.yml
Due: check-api-keys

chore: Add {term} scope and revert-type warnings to CLAUDE.md
  CLAUDE.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: Flag format-as-semantic-contract as open research question
  ai_system/3_prompts/format_as_architecture_signal_noise_in_prompt_delivery.ipynb
  ai_system/3_prompts/format_as_architecture_signal_noise_in_prompt_delivery.md
  misc/plan/plan_20260329_meetup_format_as_semantics.md
  misc/plan/techdebt.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

feat: Add Qwen JSON export converter, S-26019, and A-26019
  .claude/skills/convert-qwen-export/SKILL.md
  .vadocs/types/evidence.conf.json
  architecture/evidence/analyses/A-26019_heuer_methodology_integration_for_consultant_prompts.md
  architecture/evidence/sources/S-26019_integrating_heuer_methodology_into_consultant_prom.md
  misc/plan/implemented/plan_20260329_heuer_wrc_qwen_parser.md
  misc/plan/plan_20260330_heuer_brainstorm_and_adrs.md
  tools/docs/scripts_instructions/check_evidence_py_script.ipynb
  tools/docs/scripts_instructions/check_evidence_py_script.md
  tools/docs/scripts_instructions/convert_qwen_json_export_to_md_py_script.md
  tools/docs/scripts_instructions/git_py_script.md
  tools/scripts/convert_qwen_json_export_to_md.py
  tools/scripts/git.py
  tools/tests/test_check_evidence.py
  tools/tests/test_convert_qwen_json_export_to_md.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files, check-script-suite, check-evidence, test-check-evidence

chore: Create symlinks to AGENTS.md
  AGENTS.md
  CLAUDE.md
  CONVENTIONS.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

feat: ADR conditional validation and index duplicate detection
  .pre-commit-config.yaml
  .vadocs/README.md
  .vadocs/conf.json
  .vadocs/types/adr.conf.json
  .vadocs/types/evidence.conf.json
  architecture/adr/adr_26003_adoption_of_gitlint_for_tiered_workflow.md
  architecture/adr/adr_26006_agentic_class_models_for_architect_phase.md
  architecture/adr/adr_26007_formalization_of_phase_0_intent_synthesi.md
  architecture/adr/adr_26008_reasoning_class_models_for_abstract_synt.md
  architecture/adr/adr_26011_formalization_of_mandatory_script_suite.md
  architecture/adr/adr_26018_universal_yaml_frontmatter_adoption.md
  architecture/adr/adr_26019_mirroring_yaml_metadata_to_document_body.md
  architecture/adr/adr_26045_ai_native_development_code_as_primary_documentation.md
  architecture/adr_index.md
  architecture/architecture_decision_workflow_guide.md
  architecture/evidence/analyses/A-26020_ai_native_development_code_as_primary_documentation.md
  misc/plan/implemented/plan_20260401_standing_items_cleanup.md
  misc/plan/implemented/plan_20260402_adr_status_conditional_validation.md
  misc/plan/implemented/plan_20260403_adr_index_duplicate_detection.md
  misc/plan/techdebt.md
  tools/scripts/check_adr.py
  tools/scripts/check_frontmatter.py
  tools/scripts/check_script_suite.py
  tools/scripts/paths.py
  tools/tests/test_check_adr.py
  tools/tests/test_check_frontmatter.py
  tools/tests/test_check_script_suite.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files, check-script-suite, check-evidence, check-adr-index, test-check-broken-links, test-check-link-format, test-jupytext-sync, test-jupytext-verify-pair, test-check-api-keys, test-check-json-files, test-prepare-prompt, test-check-script-suite, test-check-evidence, test-check-adr-index

chore: Extend changelog exclusion patterns
  AGENTS.md
  QWEN.md
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
  misc/todo.md
  pyproject.toml
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, test-validate-commit-msg, test-generate-changelog

chore: PBR — place todo and insights items into roadmap phases
  misc/insights.md
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
  misc/todo.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

chore: Document misc/insights.md in AGENTS.md
  AGENTS.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

chore: Sync active plans with roadmap and refine AGENTS.md
  AGENTS.md
  misc/plan/implemented/plan_20260320_ecosystem_governance_model_config_architecture.md
  misc/plan/implemented/plan_20260329_meetup_format_as_semantics.md
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
  misc/plan/techdebt.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: Add Qwen Code session history guide
  ai_system/6_agents/session_history_management/session_history_in_qwen_code.ipynb
  ai_system/6_agents/session_history_management/session_history_in_qwen_code.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

feat: block prompt compilation architecture analysis
  AGENTS.md
  architecture/evidence/analyses/A-26021_block_prompt_compilation_architecture.md
  architecture/evidence/sources/S-26020_block_prompt_architecture_and_heuer_brainstorm.md
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence

docs: Add KV Cache Internals deep-dive document
  ai_system/1_execution/kv_cache_internals.ipynb
  ai_system/1_execution/kv_cache_internals.md
  pyproject.toml
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, test-validate-commit-msg, test-generate-changelog

docs: Add Qwen Code TypeScript vs Python rationale article
  ai_system/6_agents/tooling/why_qwen_code_uses_typescript_not_python.ipynb
  ai_system/6_agents/tooling/why_qwen_code_uses_typescript_not_python.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: Fix KV Cache Internals technical accuracy and add frontmatter
  ai_system/1_execution/kv_cache_internals.ipynb
  ai_system/1_execution/what_kv_cache_actually_contains.ipynb
  ai_system/1_execution/what_kv_cache_actually_contains.md
  pyproject.toml
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, test-validate-commit-msg, test-generate-changelog

chore: Add validate_commit_msg.py gap to roadmap and exclude AGENTS.md from myst
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
  myst.yml
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: what_kv_cache_actually_contains.md — add Q, K, V deep dive subsection
  ai_system/1_execution/what_kv_cache_actually_contains.ipynb
  ai_system/1_execution/what_kv_cache_actually_contains.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: Add skills indexing and brittleness analysis for Superpowers
  ai_system/6_agents/skills/how_skills_are_indexed_and_brittleness_problem.ipynb
  ai_system/6_agents/skills/how_skills_are_indexed_and_brittleness_problem.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

chore: Exclude agents_source_code from validation and git tracking
  .gitignore
  tools/scripts/paths.py
Due: check-api-keys, check-script-suite, test-check-broken-links, test-check-link-format, test-jupytext-sync, test-jupytext-verify-pair, test-check-api-keys, test-check-json-files, test-prepare-prompt, test-check-script-suite, test-check-evidence

docs: vim AI setup — add troubleshooting section and modernize frontmatter
  pyproject.toml
  tools/docs/ai_agents/01_vim_in_ai_era_hybrid_setup_with_ollama_and_aider.ipynb
  tools/docs/ai_agents/01_vim_in_ai_era_hybrid_setup_with_ollama_and_aider.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, test-validate-commit-msg, test-generate-changelog

docs: Document agent research methodology and repo inventory
  AGENTS.md
  ai_system/6_agents/README.md
  myst.yml
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

feat: agent repo management script — clone, update, list agents_source_code
  AGENTS.md
  README.md
  tools/scripts/git.py
  tools/scripts/manage_agent_repos.py
  tools/tests/test_git.py
  tools/tests/test_manage_agent_repos.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-script-suite

docs: context management guide for 6 coding agents + agents tag
  .vadocs/conf.json
  ai_system/6_agents/README.md
  ai_system/6_agents/context_management/aider.md
  ai_system/6_agents/context_management/claude_code.md
  ai_system/6_agents/context_management/comparison.md
  ai_system/6_agents/context_management/kilocode.md
  ai_system/6_agents/context_management/openclaw.md
  ai_system/6_agents/context_management/opencode.md
  ai_system/6_agents/context_management/overview.md
  ai_system/6_agents/context_management/qwen_code.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files

docs: agents restructuring analysis, session extraction guide, and implementation plan
  ai_system/6_agents/session_history_management/session_history_in_qwen_code.ipynb
  ai_system/6_agents/session_history_management/session_history_in_qwen_code.md
  architecture/evidence/analyses/A-26022_agents_break_the_layer_model.md
  architecture/evidence/sources/S-26021_agents_repo_restructuring_discussion.md
  misc/plan/plan_20260405_restructure_ai_system_and_agents.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence

docs: update Telegram post example path ai_system -> ai_system_layers
  misc/pr/tg_channel_ai_learning/2026_01_24_check_link_format_autofix.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: MemPalace assessment, source artifact, and tooling handbook
  ai_agents/tooling/mempalace_ai_memory_system.md
  architecture/evidence/analyses/A-26023_mempalace_role_development_vs_application_memory.md
  architecture/evidence/sources/S-26022_mempalace_framework_assessment.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence

docs: manage_agent_repos.py reference in ai_agents/README
  ai_agents/README.md
  misc/plan/implemented/plan_20260405_manage_agent_repos.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: add OpenClaude context management analysis
  ai_agents/context_management/comparison.md
  ai_agents/context_management/openclaude.md
  ai_agents/context_management/overview.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: three cross-referenced articles on subagent internals
  AGENTS.md
  ai_agents/agent_architecture/how_subagents_work.ipynb
  ai_agents/agent_architecture/how_subagents_work.md
  ai_agents/agent_architecture/stability_against_llm_drift.ipynb
  ai_agents/agent_architecture/stability_against_llm_drift.md
  ai_agents/context_management/compaction_api_contract.ipynb
  ai_agents/context_management/compaction_api_contract.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

fix: use word boundaries in changelog exclusion patterns
  tools/scripts/generate_changelog.py
  tools/tests/test_generate_changelog.py
Due: check-api-keys, check-script-suite, test-generate-changelog

feat: support sub-bullet format in commit body validation
  tools/scripts/validate_commit_msg.py
  tools/tests/test_validate_commit_msg.py
Due: check-api-keys, check-script-suite, test-validate-commit-msg

refactor: rename manage_agent_repos to manage_external_repos and generalize for any external research project
  tools/scripts/manage_external_repos.py
  tools/tests/test_manage_agent_repos.py
  tools/tests/test_manage_external_repos.py
Due: check-api-keys, check-script-suite

feat: register research/ directories for external source code repos
  .gitignore
  .vadocs/validation/external-repos.conf.json
  myst.yml
  tools/scripts/paths.py
Due: check-api-keys, check-json-files, check-script-suite, test-check-broken-links, test-check-link-format, test-jupytext-sync, test-jupytext-verify-pair, test-check-api-keys, test-check-json-files, test-prepare-prompt, test-check-script-suite, test-check-evidence

docs: update repo references from agents_source_code to research/
  AGENTS.md
  README.md
  ai_agents/README.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: split skills guide into discovery and prompt brittleness analyses
  ai_agents/skills/how_skills_are_indexed_and_brittleness_problem.ipynb
  ai_agents/skills/prompt_brittleness_in_skills.ipynb
  ai_agents/skills/prompt_brittleness_in_skills.md
  ai_agents/skills/skill_discovery_across_platforms.ipynb
  ai_agents/skills/skill_discovery_across_platforms.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

chore: move research/ under ai_agents/ and update registry
  .gitignore
  .vadocs/validation/external-repos.conf.json
  ai_agents/README.md
  misc/plan/plan_20260411_consolidate_ai_agents.md
  myst.yml
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files

docs: formalize sub-bullet format in commit body standard
  AGENTS.md
  tools/docs/git/01_production_git_workflow_standards.ipynb
  tools/docs/git/01_production_git_workflow_standards.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys
