Repository soviar-systems/ai_engineering_handbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files, check-script-suite, check-evidence, check-adr-index, test-check-broken-links, test-check-link-format, test-jupytext-sync, test-jupytext-verify-pair, test-check-api-keys, test-check-json-files, test-prepare-prompt, test-check-script-suite, test-validate-commit-msg, test-generate-changelog, test-check-evidence, test-check-adr-index

Path conditions:
  check-broken-links: any of: \.md$
  check-link-format: any of: \.md$
  jupytext-sync: any of: \.(md|ipynb)$
  jupytext-verify-pair: any of: \.(md|ipynb)$
  check-api-keys: any file but: ^(tools/tests/test_check_api_keys\.py|tools/docs/scripts_instructions/check_api_keys_py_script\.md)$
  check-json-files: any of: \.json$, but not: ^(tools/tests/|\.vscode/)
  check-script-suite: any of: ^tools/(scripts/.*\.py|tests/test_.*\.py|docs/scripts_instructions/.*_py_script\.md)$
  check-evidence: any of: ^architecture/evidence/
  check-adr-index: any of: ^architecture/(adr/adr_.*\.md|adr_index\.md)$
  test-check-broken-links: any of: ^tools/(scripts/check_broken_links\.py|scripts/paths\.py|tests/test_check_broken_links\.py)$
  test-check-link-format: any of: ^tools/(scripts/check_link_format\.py|scripts/paths\.py|tests/test_check_link_format\.py)$
  test-jupytext-sync: any of: ^tools/(scripts/jupytext_sync\.py|scripts/paths\.py|tests/test_jupytext_sync\.py)$
  test-jupytext-verify-pair: any of: ^tools/(scripts/jupytext_verify_pair\.py|scripts/paths\.py|tests/test_jupytext_verify_pair\.py)$
  test-check-api-keys: any of: ^tools/(scripts/check_api_keys\.py|scripts/paths\.py|tests/test_check_api_keys\.py)$
  test-check-json-files: any of: ^tools/(scripts/check_json_files\.py|scripts/paths\.py|tests/test_check_json_files\.py)$
  test-prepare-prompt: any of: ^tools/(scripts/prepare_prompt\.py|scripts/paths\.py|tests/test_prepare_prompt\.py)$
  test-check-script-suite: any of: ^tools/(scripts/check_script_suite\.py|scripts/paths\.py|tests/test_check_script_suite\.py)$
  test-validate-commit-msg: any of: ^(tools/(scripts/validate_commit_msg\.py|tests/test_validate_commit_msg\.py)|pyproject\.toml)$
  test-generate-changelog: any of: ^(tools/(scripts/generate_changelog\.py|tests/test_generate_changelog\.py)|pyproject\.toml)$
  test-check-evidence: any of: ^(tools/scripts/check_evidence\.py|tools/tests/test_check_evidence\.py|tools/scripts/paths\.py|architecture/evidence/evidence\.config\.yaml)$
  test-check-adr-index: any of: ^tools/(scripts/check_adr\.py|tests/test_check_adr\.py)$

chore: mark plan implemented and update scratch files
  misc/plan/implemented/plan_20260411_consolidate_ai_agents.md
  misc/plan/techdebt.md
  misc/todo.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

chore: add .qwen/ to .gitignore
  .gitignore
Due: check-api-keys

fix: CI broken links — remove local paths to external repos
  ai_agents/README.md
  tools/scripts/paths.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-script-suite, test-check-broken-links, test-check-link-format, test-jupytext-sync, test-jupytext-verify-pair, test-check-api-keys, test-check-json-files, test-prepare-prompt, test-check-script-suite, test-check-evidence

docs: add session todo items to misc/todo.md
  misc/todo.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

chore: consolidate CHANGELOG and remove redundant CHANGELOG.md
  CHANGELOG
  CHANGELOG.md
  architecture/evidence/analyses/A-26008_frontmatter_standard_taxonomy_audit.md
  myst.yml
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence

chore: consolidate consultant prompts — rename hybrid, delete unused
  ai_system_layers/3_prompts/consultants/ai_systems_consultant.json
  ai_system_layers/3_prompts/consultants/local_ai_systems_consultant.json
  ai_system_layers/3_prompts/consultants/python_test_architect.json
Due: check-api-keys, check-json-files

docs: fix broken consultant links and add consultants README
  .claude/skills/convert-qwen-export/SKILL.md
  .claude/skills/sv-ai-brainstorm-colleague/SKILL.md
  .claude/skills/sv-ai-brainstorm-colleague/prompt.json
  .claude/skills/sv-ai-systems-consultant-hybrid/SKILL.md
  .claude/skills/sv-ai-systems-consultant-hybrid/prompt.json
  .claude/skills/sv-devops-consultant/SKILL.md
  .claude/skills/sv-devops-consultant/prompt.json
  .claude/skills/sv-handbook-reviewer/SKILL.md
  .claude/skills/sv-handbook-reviewer/prompt.json
  .claude/skills/sv-local-ai-systems-consultant/SKILL.md
  .claude/skills/sv-local-ai-systems-consultant/prompt.json
  .claude/skills/sv-python-test-architect/SKILL.md
  .claude/skills/sv-python-test-architect/prompt.json
  README.md
  RELEASE_NOTES.md
  ai_system_layers/3_prompts/consultants/README.md
  architecture/adr/adr_26028_tool_agnostic_phase_0_intent_synthesis.md
  architecture/evidence/analyses/A-26003_sva_constraint_framework_design.md
  architecture/post-mortems/ReadMe.md
  architecture/post-mortems/nbdiff/post_mortem_architectural_flaws_in_nbdiff_centric.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files, check-evidence, check-adr-index

chore: remove extracted ephemeral source files
  AGENTS.md
  architecture/evidence/sources/S-26013_lean_as_grpo_verifier_formal_hybrid_generation.md
  architecture/evidence/sources/S-26014_devops_consultant_frontmatter_validator_assessment.md
  architecture/evidence/sources/S-26016_gemini_prompt_tags_noise_or_anchors.md
  architecture/evidence/sources/S-26017_qwen_causal_masking_kv_cache.md
  architecture/evidence/sources/S-26018_yaml_serializer_token_variance.md
  architecture/evidence/sources/S-26019_integrating_heuer_methodology_into_consultant_prom.md
  architecture/evidence/sources/S-26020_block_prompt_architecture_and_heuer_brainstorm.md
  architecture/evidence/sources/S-26021_agents_repo_restructuring_discussion.md
  architecture/evidence/sources/S-26022_mempalace_framework_assessment.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence

docs: release v3.0.0 "The Agents Emerge"
  CHANGELOG
  README.md
  RELEASE_NOTES.md
  misc/todo.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

chore: update release notes generation prompt for v3.0.0 workflow
  ai_system_layers/4_orchestration/workflows/release_notes_generation/prompt_draft.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

fix: consolidate agent_architecture/ into architecture/ subdirs
  README.md
  RELEASE_NOTES.md
  ai_agents/agent_architecture/how_subagents_work.ipynb
  ai_agents/agent_architecture/stability_against_llm_drift.ipynb
  ai_agents/architecture/context_management/compaction_api_contract.ipynb
  ai_agents/architecture/context_management/compaction_api_contract.md
  ai_agents/architecture/context_management/how_subagents_work.ipynb
  ai_agents/architecture/context_management/how_subagents_work.md
  ai_agents/architecture/skills/stability_against_llm_drift.ipynb
  ai_agents/architecture/skills/stability_against_llm_drift.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

pr: announce v3.0.0 release on Telegram channel
  ai_agents/architecture/context_management/compaction_api_contract.ipynb
  ai_agents/architecture/context_management/how_subagents_work.ipynb
  ai_agents/architecture/session_history_management/session_history_in_qwen_code.ipynb
  ai_agents/architecture/skills/prompt_brittleness_in_skills.ipynb
  ai_agents/architecture/skills/skill_discovery_across_platforms.ipynb
  ai_agents/architecture/skills/stability_against_llm_drift.ipynb
  ai_agents/architecture/tooling/why_qwen_code_uses_typescript_not_python.ipynb
  misc/pr/tg_channel_ai_learning/2026_04_13_release_announcement_v3_0_0.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

chore: rename architecture files from titles via format_string.py
  README.md
  RELEASE_NOTES.md
  ai_agents/architecture/context_management/compaction_api_contract_why_system_prompts_dont_mix.md
  ai_agents/architecture/context_management/how_subagents_actually_work_myth_of_process_spawning.md
  ai_agents/architecture/context_management/qwen_code.md
  ai_agents/architecture/session_history_management/session_history_in_qwen_code.md
  ai_agents/architecture/skills/prompt_brittleness_in_skill_based_orchestration.md
  ai_agents/architecture/skills/skill_discovery_across_ai_coding_platforms.md
  ai_agents/architecture/skills/stability_in_a_probabilistic_substrate_how_agents_fight_llm_drift.md
  ai_agents/architecture/tooling/why_qwen_code_uses_typescript_not_python.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

refactor(guides): remove numeric prefixes from file names
  ai_agents/guides/aider/aider_commands_handout.md
  ai_agents/guides/claude/claude_code_memory_vs_claude_md.md
  ai_agents/guides/connect_to_capable_llms_api_keys.md
  ai_agents/guides/kilocode/kilocode_cli_setup.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

fix(tools): add config reference to ArchTag validation error message
  tools/scripts/validate_commit_msg.py
Due: check-api-keys, check-script-suite, test-validate-commit-msg

refactor(guides): restructure guides — rename dirs, create general workflow guide
  0_intro/00_onboarding.ipynb
  0_intro/00_onboarding.md
  RELEASE_NOTES.md
  ai_agents/guides/aider/02_aider_commands_handout.ipynb
  ai_agents/guides/aider/04_connect_to_capable_llms_using_api_keys.ipynb
  ai_agents/guides/aider/aider_commands_handout.md
  ai_agents/guides/kilocode/05_kilocode_cli_setup.ipynb
  ai_agents/guides/terminal_ai_agents_workflow.md
  ai_agents/guides/vim_and_aider/01_vim_in_ai_era_hybrid_setup_with_ollama_and_aider.ipynb
  ai_agents/guides/vim_and_aider/01_vim_in_ai_era_hybrid_setup_with_ollama_and_aider.md
  ai_agents/guides/vim_and_aider/03_vim_ollama_llm_tab_completion_nuances.ipynb
  ai_agents/guides/vim_ollama/vim_ollama_plugin_setup.md
  ai_agents/guides/vim_ollama/vim_ollama_tab_completion.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: add living documents convention and pending tasks to todo
  AGENTS.md
  misc/todo.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

chore: move implemented plan to archive
  misc/plan/implemented/plan_20260414_refactor_guides_structure.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

fix: enforce options.type as mandatory for frontmatter
  architecture/adr/adr_26042_common_frontmatter_standard.md
  architecture/adr_index.md
  misc/plan/implemented/plan_20260414_enforce_options_type.md
  misc/todo.md
  tools/scripts/check_frontmatter.py
  tools/tests/test_check_frontmatter.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-script-suite, check-adr-index

chore: update Heuer brainstorm method to use consultant prompts
  misc/plan/plan_20260330_heuer_brainstorm_and_adrs.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: add Heuer brainstorm analysis A-26023
  architecture/evidence/analyses/A-26023_heuer_brainstorm_stress_test.md
  misc/plan/plan_20260330_heuer_brainstorm_and_adrs.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence

docs: formalize Heuer tradecraft and WRC metric
  architecture/adr/adr_26047_integrate_heuer_tradecraft_into_methodology.md
  architecture/adr/adr_26048_formalize_wrc_metric.md
  architecture/adr_index.md
  architecture/evidence/analyses/A-26016_causal_masking_attention_mechanics_for_prompt_engineering.md
  architecture/evidence/sources/README.ipynb
  architecture/evidence/sources/README.md
  architecture/evidence/sources/S-26023_distributional_shift_and_token_sequences.md
  architecture/evidence/sources/S-26024_causal_masking_and_kv_cache_momentum.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence, check-adr-index

docs: plan block-based prompt architecture
  misc/plan/plan_20260421_block_prompt_architecture.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

feat(devops): implement unified manifest-based external repo sync
  .gitignore
  .vadocs/validation/external-repos.conf.json
  ai_agents/README.md
  architecture/adr/adr_26049_unified_manifest_for_external_repos.md
  architecture/adr_index.md
  misc/todo.md
  tools/scripts/manage_external_repos.py
  tools/scripts/paths.py
  tools/tests/test_manage_external_repos.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files, check-script-suite, check-adr-index, test-check-broken-links, test-check-link-format, test-jupytext-sync, test-jupytext-verify-pair, test-check-api-keys, test-check-json-files, test-prepare-prompt, test-check-script-suite, test-check-evidence

chore(docs): archive implementation plans and add unified manifest manifest
  .vadocs/inventory/manage_external_repos.json
  misc/plan/implemented/plan_20260419_external_repos_sync.md
  misc/plan/implemented/plan_20260420_unified_external_repos_config.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files

feat(prompts): implement block-based architecture and recursive resolution
  AGENTS.md
  ai_system_layers/3_prompts/README.ipynb
  ai_system_layers/3_prompts/README.md
  ai_system_layers/3_prompts/blocks/common_consulting_context.json
  ai_system_layers/3_prompts/blocks/common_principles.json
  ai_system_layers/3_prompts/blocks/common_user_stack.json
  ai_system_layers/3_prompts/blocks/heuer_tradecraft.json
  ai_system_layers/3_prompts/blocks/standard_output_protocol.json
  ai_system_layers/3_prompts/blocks/wrc_sva_framework.json
  ai_system_layers/3_prompts/consultants/ai_brainstorming_colleague.json
  ai_system_layers/3_prompts/consultants/ai_systems_consultant.json
  ai_system_layers/3_prompts/consultants/devops_consultant.json
  ai_system_layers/3_prompts/consultants/handbook_consultant.json
  misc/plan/plan_20260421_block_prompt_architecture.md
  misc/tmp.md
  tools/scripts/check_frontmatter.py
  tools/scripts/prepare_prompt.py
  tools/tests/test_check_frontmatter.py
  tools/tests/test_prepare_prompt.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files, check-script-suite, test-prepare-prompt

docs(git): document local SSH and agent configuration
  tools/docs/git/git_local_configuration.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

chore(governance): define governed extensions and exclusions in hub config
  .vadocs/conf.json
Due: check-api-keys, check-json-files

fix(governance): implement mandatory frontmatter enforcement
  misc/plan/implemented/plan_20260425_mandatory_governance.md
  tools/scripts/check_frontmatter.py
  tools/tests/test_check_frontmatter.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-script-suite

docs: document subagents and prefix alignment
  .vadocs/conf.json
  AGENTS.md
  ai_agents/README.md
  ai_agents/architecture/orchestration/claude_code_subagents.md
  ai_agents/architecture/orchestration/qwen_code_subagents.md
  ai_system_layers/1_execution/what_kv_cache_actually_contains.ipynb
  ai_system_layers/1_execution/what_kv_cache_actually_contains.md
  misc/plan/plan_20260425_subagents_analysis.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files

docs: add implementation plan for token size automation
  misc/plan/plan_20260426_token_size_automation.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

feat: implement token count automation utility
  misc/plan/plan_20260426_token_size_automation.md
  tools/scripts/update_token_counts.py
  tools/tests/test_update_token_counts.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-script-suite

feat: validate token_size accuracy in frontmatter
  tools/scripts/check_frontmatter.py
  tools/tests/test_check_frontmatter.py
Due: check-api-keys, check-script-suite

fix: improve token validation and CI
  .github/workflows/quality.yml
  misc/plan/implemented/plan_20260426_token_size_automation.md
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
  tools/scripts/check_frontmatter.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-script-suite

docs: add OpenCode agent guide
  ai_agents/guides/opencode_guide.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

chore: improve token_size automation and validation
  README.md
  misc/plan/implemented/plan_20260426_fix_token_size_redundancy.md
  misc/plan/plan_20260426_token_size_automation.md
  tools/scripts/update_token_counts.py
  tools/tests/test_check_frontmatter.py
  tools/tests/test_update_token_counts.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-script-suite

docs: reorganize and expand subagents research
  RELEASE_NOTES.md
  ai_agents/README.md
  ai_agents/architecture/context_management/compaction_api_contract_why_system_prompts_dont_mix.md
  ai_agents/architecture/context_management/how_subagents_actually_work_myth_of_process_spawning.md
  ai_agents/architecture/orchestration/gemini_cli_subagents.md
  ai_agents/architecture/orchestration/how_subagents_actually_work_myth_of_process_spawning.md
  ai_agents/architecture/orchestration/openclaude_subagents.md
  ai_agents/architecture/orchestration/openclaw_subagents.md
  ai_agents/architecture/orchestration/opencode_subagents.md
  ai_agents/architecture/orchestration/subagents_realization_report.md
  ai_agents/architecture/skills/stability_in_a_probabilistic_substrate_how_agents_fight_llm_drift.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: update frontmatter and token_size for context management analysis
  ai_agents/architecture/context_management/aider.md
  ai_agents/architecture/context_management/claude_code.md
  ai_agents/architecture/context_management/comparison.md
  ai_agents/architecture/context_management/kilocode.md
  ai_agents/architecture/context_management/openclaude.md
  ai_agents/architecture/context_management/openclaw.md
  ai_agents/architecture/context_management/opencode.md
  ai_agents/architecture/context_management/overview.md
  ai_agents/architecture/context_management/qwen_code.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

fix: resolve tiktoken crash in frontmatter validation
  tools/scripts/check_frontmatter.py
  tools/tests/test_check_frontmatter.py
Due: check-api-keys, check-script-suite

docs: align agent guides governance and tags
  ai_agents/guides/aider/aider_commands_handout.md
  ai_agents/guides/claude/creating_consultant_skills.md
  ai_agents/guides/connect_to_capable_llms_api_keys.md
  ai_agents/guides/kilocode/kilocode_cli_setup.md
  ai_agents/guides/terminal_ai_agents_workflow.md
  ai_agents/guides/vim_ollama/vim_ollama_plugin_setup.md
  ai_agents/guides/vim_ollama/vim_ollama_tab_completion.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys
