Repository soviar-systems/ai_engineering_handbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-links, test-check-broken-links

check-broken-links:
  name: Check Broken Links
  entry: uv run tools/scripts/check_broken_links.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit
  - manual

test-check-broken-links:
  name: Test Check Broken Links script
  entry: uv run pytest tools/tests/test_check_broken_links.py
  language: python
  pass_filenames: false

dos: Update LICENSE file
  LICENSE
  LICENSE.md
Due: none

chore: Remove aliases in .aider.conf.yml
  .aider.conf.yml
Due: none

refactor: Remove ipynb pairs
  README.ipynb
  README.md
  RELEASE_NOTES.ipynb
  RELEASE_NOTES.md
  architecture/post-mortems/ReadMe.ipynb
  architecture/post-mortems/ReadMe.md
  architecture/post-mortems/post-mortem_slm_non-determinism_in_commit_generation.ipynb
  architecture/post-mortems/post-mortem_slm_non-determinism_in_commit_generation.md
  myst.yml
Due: check-broken-links

chore: Update adr_0003
  architecture/adr/adr_0003_adoption_of_gitlint_for_tiered_workflow.md
Due: none

chore: Update dependencies
  pyproject.toml
  uv.lock
Due: none

docs: Add details on rate limits
  RN.tmpl
  tools/docs/ai_agents/02_aider_commands_handout.ipynb
  tools/docs/ai_agents/02_aider_commands_handout.md
Due: check-broken-links

refactor: Clean unneeded file
  architecture/post-mortems/nbdiff/nbdiff_git_diff_for_jupyter_notebooks_version_control.ipynb
Due: check-broken-links

docs: update token limit table for API models
  tools/docs/ai_agents/02_aider_commands_handout.ipynb
  tools/docs/ai_agents/02_aider_commands_handout.md
Due: check-broken-links

chore: Update .aider.conf.yml configuration
  .aider.conf.yml
Due: none

refactor: Rename a_multi_layered_ai_system_architecture
  0_intro/00_onboarding.ipynb
  0_intro/00_onboarding.md
  0_intro/a_multi_layered_ai_system_architecture.ipynb
  0_intro/a_multi_layered_ai_system_architecture.md
  0_intro/ai_systems_multilayer_approach.ipynb
  RN.tmpl
Due: check-broken-links

chore: Release v2.0.0
  README.md
  RELEASE_NOTES.md
Due: none

chore: Fix version number
  RELEASE_NOTES.md
Due: none

pr: Add release_announcement_v2_0_0.md
  misc/pr/tg_channel_ai_learning/2026_01_12_release_announcement_v2_0_0.md
Due: none

ci: 52 Fix check ALL broken links
  .pre-commit-config.yaml
Due: none

chore: Add map-repo limit to aider
  .aider.conf.yml
Due: none

ci: Fix correct file exclusion logic in check_broken_links
  tools/scripts/check_broken_links.py
  tools/scripts/paths.py
  tools/tests/test_check_broken_links.py
Due: test-check-broken-links

docs: Fix README
  README.md
Due: none

docs: Update 02_aider_commands_handout
  tools/docs/ai_agents/02_aider_commands_handout.ipynb
  tools/docs/ai_agents/02_aider_commands_handout.md
Due: check-broken-links

docs: Add vim_ollama_llm_tab_completion_nuances
  tools/docs/ai_agents/03_vim_ollama_llm_tab_completion_nuances.ipynb
  tools/docs/ai_agents/03_vim_ollama_llm_tab_completion_nuances.md
Due: check-broken-links

docs: Add connect_to_capable_llms_using_api_keys.md
  tools/docs/ai_agents/02_aider_commands_handout.ipynb
  tools/docs/ai_agents/02_aider_commands_handout.md
  tools/docs/ai_agents/04_connect_to_capable_llms_using_api_keys.ipynb
  tools/docs/ai_agents/04_connect_to_capable_llms_using_api_keys.md
Due: check-broken-links

docs: add ADR 0004 for Agentic RAG implementation
  ai_system/4_orchestration/workflows/agentic_rag_and_standardized_automation_for_ai_eng.ipynb
  ai_system/4_orchestration/workflows/agentic_rag_and_standardized_automation_for_ai_eng.md
  architecture/adr/adr_0001_use_of_python_and_oop_for_git_hook_scripts.md
  architecture/adr/adr_0004_implementation_of_agentic_rag_for_autonom.md
Due: check-broken-links

chore: Rename CONVENTIONS.md
  .aider.conf.yml
  CONVENTIONS.md
Due: none

chore: Update conventions for aider
  CONVENTIONS.md
Due: none

chore: Update myst.yml
  myst.yml
Due: none

docs: Refine AI orchestration workflow
  ai_system/4_orchestration/workflows/agentic_rag_and_standardized_automation_for_ai_eng.ipynb
  ai_system/4_orchestration/workflows/agentic_rag_and_standardized_automation_for_ai_eng.md
  ai_system/4_orchestration/workflows/aidx_industrial_ai_orchestration_framework.ipynb
  ai_system/4_orchestration/workflows/aidx_industrial_ai_orchestration_framework.md
  architecture/adr/adr_26004_implementation_of_agentic_rag_for_autonom.md
Due: check-broken-links

docs: Change adr naming convention
  architecture/adr/adr_26001_use_of_python_and_oop_for_git_hook_scripts.md
  architecture/adr/adr_26002_adoption_of_pre_commit_framework.md
  architecture/adr/adr_26003_adoption_of_gitlint_for_tiered_workflow.md
  architecture/adr/adr_26005_formalization_of_aider_as_primary_agentic.md
  architecture/adr/adr_template.md
  architecture/post-mortems/nbdiff/post_mortem_architectural_flaws_in_nbdiff_centric.ipynb
  architecture/post-mortems/nbdiff/post_mortem_architectural_flaws_in_nbdiff_centric.md
  architecture/post-mortems/post-mortem_slm_non-determinism_in_commit_generation.md
  architecture/what_is_an_adr.md
  tools/docs/git/01_production_git_workflow_standards.ipynb
  tools/docs/git/01_production_git_workflow_standards.md
  tools/docs/git/02_pre_commit_hooks_and_staging_instruction_for_devel.ipynb
  tools/docs/git/02_pre_commit_hooks_and_staging_instruction_for_devel.md
Due: check-broken-links

docs: Update API key documentation and limits
  tools/docs/ai_agents/02_aider_commands_handout.ipynb
  tools/docs/ai_agents/02_aider_commands_handout.md
  tools/docs/ai_agents/04_connect_to_capable_llms_using_api_keys.ipynb
  tools/docs/ai_agents/04_connect_to_capable_llms_using_api_keys.md
Due: check-broken-links

ci: Add myst include link check
  tools/scripts/check_broken_links.py
  tools/tests/test_check_broken_links.py
Due: test-check-broken-links

chore: Add aider configuration and update .gitignore
  .gitignore
  tools/configs/aider.conf.yml
  tools/scripts/configure_repo.sh
Due: none

docs: Add ADRs on models selection
  ai_system/2_model/selection/general_purpose_vs_agentic_models.ipynb
  ai_system/2_model/selection/general_purpose_vs_agentic_models.md
  architecture/adr/adr_26006_agentic_class_models_for_architect_phase.md
  architecture/adr/adr_26007_formalization_of_phase_0_intent_synthesi.md
  architecture/adr/adr_26008_reasoning_class_models_for_abstract_synt.md
Due: check-broken-links

docs: Update ADRs to use {term} syntax
  architecture/adr/adr_26001_use_of_python_and_oop_for_git_hook_scripts.md
  architecture/adr/adr_26002_adoption_of_pre_commit_framework.md
  architecture/adr/adr_26003_adoption_of_gitlint_for_tiered_workflow.md
  architecture/adr/adr_26004_implementation_of_agentic_rag_for_autonom.md
  architecture/adr/adr_template.md
  architecture/adr_index.md
Due: none

docs: Update aidx framework documentation
  ai_system/4_orchestration/workflows/aidx_industrial_ai_orchestration_framework.ipynb
  ai_system/4_orchestration/workflows/aidx_industrial_ai_orchestration_framework.md
  architecture/adr/adr_26005_formalization_of_aider_as_primary_agentic.md
Due: check-broken-links

docs: Update onboarding materials
  0_intro/00_onboarding.ipynb
  0_intro/00_onboarding.md
Due: check-broken-links

ci: Exclude example links from check
  tools/docs/scripts_instructions/check_broken_links_py_script.ipynb
  tools/docs/scripts_instructions/check_broken_links_py_script.md
  tools/scripts/check_broken_links.py
  tools/scripts/paths.py
  tools/tests/test_check_broken_links.py
Due: check-broken-links, test-check-broken-links

chore: Update readme
  README.md
Due: none

docs: Add release_notes template
  tools/templates/Release_Notes.tmpl
Due: none

chore: Update env
  pyproject.toml
  uv.lock
Due: none

chore: release v2.1.0
  README.md
  RELEASE_NOTES.md
  misc/pr/tg_channel_ai_learning/2026_01_17_v_2_1_0_release.md
Due: none

feat: Add release_notes_data.sh script
  tools/scripts/release_notes_data.sh
Due: none

Path conditions:
  check-broken-links: any of: \.ipynb$
  test-check-broken-links: any of: ^tools/(scripts/check_broken_links\.py|scripts/paths\.py|tests/test_check_broken_links\.py)$
