Repository soviar-systems/ai_engineering_handbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files, check-script-suite, check-evidence, check-adr-index, test-check-broken-links, test-check-link-format, test-jupytext-sync, test-jupytext-verify-pair, test-check-api-keys, test-check-json-files, test-prepare-prompt, test-check-script-suite, test-validate-commit-msg, test-generate-changelog, test-check-evidence, test-check-adr-index

check-broken-links:
  name: Check Broken Links
  entry: uv run --active tools/scripts/check_broken_links.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit
  - manual

check-link-format:
  name: Check Link Format (ipynb priority)
  entry: uv run --active tools/scripts/check_link_format.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit
  - manual

jupytext-sync:
  name: Jupytext Sync
  entry: uv run --active tools/scripts/jupytext_sync.py
  language: python
  pass_filenames: true
  require_serial: true
  stages:
  - pre-commit

jupytext-verify-pair:
  name: Jupytext Verify Pair
  entry: uv run --active tools/scripts/jupytext_verify_pair.py
  language: python
  pass_filenames: true
  require_serial: true
  stages:
  - pre-commit

check-api-keys:
  name: Check API Keys
  entry: uv run --active tools/scripts/check_api_keys.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

check-json-files:
  name: Check JSON Files
  entry: uv run --active tools/scripts/check_json_files.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

check-script-suite:
  name: Check Script Suite (script + test + doc)
  entry: uv run --active tools/scripts/check_script_suite.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

check-evidence:
  name: Validate evidence artifacts
  entry: uv run --active tools/scripts/check_evidence.py --check-staged
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

check-adr-index:
  name: Check ADR Index
  entry: uv run --active tools/scripts/check_adr.py --fix
  language: python
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test-check-broken-links:
  name: Test Check Broken Links script
  entry: uv run --active pytest tools/tests/test_check_broken_links.py
  language: python
  pass_filenames: false

test-check-link-format:
  name: Test Check Link Format script
  entry: uv run --active pytest tools/tests/test_check_link_format.py
  language: python
  pass_filenames: false

test-jupytext-sync:
  name: Test Jupytext Sync script
  entry: uv run --active pytest tools/tests/test_jupytext_sync.py
  language: python
  pass_filenames: false

test-jupytext-verify-pair:
  name: Test Jupytext Verify Pair script
  entry: uv run --active pytest tools/tests/test_jupytext_verify_pair.py
  language: python
  pass_filenames: false

test-check-api-keys:
  name: Test Check API Keys script
  entry: uv run --active pytest tools/tests/test_check_api_keys.py
  language: python
  pass_filenames: false

test-check-json-files:
  name: Test JSON validation script
  entry: uv run --active pytest tools/tests/test_check_json_files.py
  language: system
  pass_filenames: false

test-prepare-prompt:
  name: Test Prepare Prompt script
  entry: uv run --active pytest tools/tests/test_prepare_prompt.py
  language: python
  pass_filenames: false

fix: resolve tiktoken crash and refine token count update guidance
  tools/scripts/check_frontmatter.py
  tools/tests/test_update_token_counts.py
Due: check-api-keys, check-script-suite

docs: refine ignore architecture analysis and create implementation plan
  architecture/evidence/analyses/A-26024_config_driven_ignore_architecture.md
  misc/plan/plan_20260427_config_driven_ignore_architecture.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence

docs: analyze Qwen Code permission enforcement mechanism
  ai_agents/architecture/tools/qwen_code_permission_enforcement_analysis.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

fix: merge multiple YAML frontmatter blocks
  ai_system_layers/1_execution/hybrid_execution_and_kv_cache_offloading.ipynb
  ai_system_layers/1_execution/hybrid_execution_and_kv_cache_offloading.md
  tools/scripts/check_frontmatter.py
  tools/tests/test_check_frontmatter.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-script-suite

fix: enforce frontmatter namespace blocking
  tools/scripts/check_frontmatter.py
  tools/tests/test_check_frontmatter.py
Due: check-api-keys, check-script-suite

chore: align Hybrid Execution guide frontmatter
  ai_system_layers/1_execution/hybrid_execution_and_kv_cache_offloading.ipynb
  ai_system_layers/1_execution/hybrid_execution_and_kv_cache_offloading.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: implement agent governance model and refine permission analysis
  ai_agents/architecture/agent_governance_model.md
  ai_agents/architecture/tools/qwen_code_permission_enforcement_analysis.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

Path conditions:
  check-broken-links: any of: \.md$
  check-link-format: any of: \.md$
  jupytext-sync: any of: \.(md|ipynb)$
  jupytext-verify-pair: any of: \.(md|ipynb)$
  check-api-keys: any file but: ^(tools/tests/test_check_api_keys\.py|tools/docs/scripts_instructions/check_api_keys_py_script\.md)$
  check-json-files: any of: \.json$, but not: ^(tools/tests/|\.vscode/)
  check-script-suite: any of: ^tools/(scripts/.*\.py|tests/test_.*\.py|docs/scripts_instructions/.*_py_script\.md)$
  check-evidence: any of: ^architecture/evidence/
  check-adr-index: any of: ^architecture/(adr/adr_.*\.md|adr_index\.md)$
  test-check-broken-links: any of: ^tools/(scripts/check_broken_links\.py|scripts/paths\.py|tests/test_check_broken_links\.py)$
  test-check-link-format: any of: ^tools/(scripts/check_link_format\.py|scripts/paths\.py|tests/test_check_link_format\.py)$
  test-jupytext-sync: any of: ^tools/(scripts/jupytext_sync\.py|scripts/paths\.py|tests/test_jupytext_sync\.py)$
  test-jupytext-verify-pair: any of: ^tools/(scripts/jupytext_verify_pair\.py|scripts/paths\.py|tests/test_jupytext_verify_pair\.py)$
  test-check-api-keys: any of: ^tools/(scripts/check_api_keys\.py|scripts/paths\.py|tests/test_check_api_keys\.py)$
  test-check-json-files: any of: ^tools/(scripts/check_json_files\.py|scripts/paths\.py|tests/test_check_json_files\.py)$
  test-prepare-prompt: any of: ^tools/(scripts/prepare_prompt\.py|scripts/paths\.py|tests/test_prepare_prompt\.py)$
  test-check-script-suite: any of: ^tools/(scripts/check_script_suite\.py|scripts/paths\.py|tests/test_check_script_suite\.py)$
  test-validate-commit-msg: any of: ^(tools/(scripts/validate_commit_msg\.py|tests/test_validate_commit_msg\.py)|pyproject\.toml)$
  test-generate-changelog: any of: ^(tools/(scripts/generate_changelog\.py|tests/test_generate_changelog\.py)|pyproject\.toml)$
  test-check-evidence: any of: ^(tools/scripts/check_evidence\.py|tools/tests/test_check_evidence\.py|tools/scripts/paths\.py|architecture/evidence/evidence\.config\.yaml)$
  test-check-adr-index: any of: ^tools/(scripts/check_adr\.py|tests/test_check_adr\.py)$
