Repository soviar-systems/ai_engineering_handbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-links, test-check-broken-links

check-broken-links:
  name: Check Broken Links
  entry: uv run tools/scripts/check_broken_links.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit
  - manual

test-check-broken-links:
  name: Test Check Broken Links script
  entry: uv run pytest tools/tests/test_check_broken_links.py
  language: python
  pass_filenames: false

refactor: Move prompt consultants to Layer 3
  README.md
  ai_system/3_prompts/consultants/devops_consultant.json
  ai_system/3_prompts/consultants/handbook_consultant.json
  ai_system/3_prompts/consultants/local_ai_systems_consultant.json
  ai_system/3_prompts/consultants/python_test_architect.json
  ai_system/3_prompts/layer_3_prompts_as_infrastructure.ipynb
  ai_system/3_prompts/layer_3_prompts_as_infrastructure.md
  architecture/post-mortems/ReadMe.md
  architecture/post-mortems/nbdiff/nbdiff_git_diff_for_jupyter_notebooks_version_control.md
  architecture/post-mortems/nbdiff/post_mortem_architectural_flaws_in_nbdiff_centric.md
Due: check-broken-links

feat: Add prepare_prompt.sh script
  ai_system/3_prompts/prepare_prompt.sh
Due: none

feat: Update release notes generation files
  ai_system/4_orchestration/workflows/release_notes_generation/Release_Notes.tmpl
  ai_system/4_orchestration/workflows/release_notes_generation/release_notes_data.sh
Due: none

feat: add user_input field to devops consultant
  ai_system/3_prompts/consultants/devops_consultant.json
Due: none

refactor: Move research/ to misc/
  misc/research/slm_from_scratch/01_foundational_neurons_and_backprop/01_foundations.ipynb
  misc/research/slm_from_scratch/01_foundational_neurons_and_backprop/01_foundations.md
  misc/research/slm_from_scratch/02_tokenizer/01_bpe_tokenizer.ipynb
  misc/research/slm_from_scratch/02_tokenizer/01_bpe_tokenizer.md
  misc/research/slm_from_scratch/02_tokenizer/bpe_tokenizer.py
  misc/research/slm_from_scratch/02_tokenizer/bpe_tokenizer_t.py
  misc/research/slm_from_scratch/02_tokenizer/main.py
  misc/research/slm_from_scratch/02_tokenizer/readme.md
  misc/research/slm_from_scratch/CHANGELOG
  misc/research/slm_from_scratch/ReadMe.ipynb
  misc/research/slm_from_scratch/ReadMe.md
  misc/research/slm_from_scratch/data/shakespeare_dataset/hamlet_plot.txt
  misc/research/slm_from_scratch/data/shakespeare_dataset/text1.txt
  misc/research/slm_from_scratch/data/shakespeare_dataset_test/hamlet.txt
  misc/research/slm_from_scratch/data/shakespeare_dataset_test/otello.txt
  misc/research/slm_from_scratch/mentor_slm_from_scratch.json
  misc/research/slm_from_scratch/old/01_computational_primitives_and_gradients/01_computational_primitives_and_gradients.ipynb
  misc/research/slm_from_scratch/old/01_computational_primitives_and_gradients/01_computational_primitives_and_gradients.md
  misc/research/slm_from_scratch/old/01_computational_primitives_and_gradients/src/main.py
  misc/research/slm_from_scratch/old/01_computational_primitives_and_gradients/src/neuron.py
  misc/research/slm_from_scratch/old/01_computational_primitives_and_gradients/src/tests.py
  misc/research/slm_from_scratch/old/03_transformer_block/02_transformer_block.ipynb
  misc/research/slm_from_scratch/old/03_transformer_block/02_transformer_block.md
  misc/research/slm_from_scratch/old/F_nn_from_scratch/foundation_f_neural_networks_from_scratch.ipynb
  misc/research/slm_from_scratch/old/F_nn_from_scratch/foundation_f_neural_networks_from_scratch.md
  misc/research/slm_from_scratch/old/F_nn_from_scratch/src/main.py
  misc/research/slm_from_scratch/old/F_nn_from_scratch/src/neuron.py
  misc/research/slm_from_scratch/old/F_nn_from_scratch/src/tests.py
Due: check-broken-links

docs: Update 00_onboarding.md
  0_intro/00_onboarding.ipynb
  0_intro/00_onboarding.md
Due: check-broken-links

docs: Update semantic_notebook_versioning
  tools/docs/jupyter_and_markdown/semantic_notebook_versioning_ai_ready_jupyter_docs.ipynb
  tools/docs/jupyter_and_markdown/semantic_notebook_versioning_ai_ready_jupyter_docs.md
Due: check-broken-links

chore: Update env deps
  pyproject.toml
  uv.lock
Due: none

chore: Update myst.yml
  myst.yml
Due: none

chore: Remove MyST include glossary syntax
  ai_system/2_model/selection/general_purpose_vs_agentic_models.ipynb
  ai_system/2_model/selection/general_purpose_vs_agentic_models.md
  ai_system/4_orchestration/workflows/aidx_industrial_ai_orchestration_framework.ipynb
  ai_system/4_orchestration/workflows/aidx_industrial_ai_orchestration_framework.md
  architecture/adr/adr_26001_use_of_python_and_oop_for_git_hook_scripts.md
  architecture/adr/adr_26002_adoption_of_pre_commit_framework.md
  architecture/adr/adr_26003_adoption_of_gitlint_for_tiered_workflow.md
  architecture/adr/adr_26004_implementation_of_agentic_rag_for_autonom.md
  architecture/adr/adr_26005_formalization_of_aider_as_primary_agentic.md
  architecture/adr/adr_26006_agentic_class_models_for_architect_phase.md
  architecture/adr/adr_26007_formalization_of_phase_0_intent_synthesi.md
  architecture/adr/adr_26008_reasoning_class_models_for_abstract_synt.md
  architecture/adr/adr_26009_adoption_of_ansible_for_idempotent_confi.md
  architecture/adr/adr_26010_adoption_of_molecule_for_automated_ansib.md
  architecture/adr/adr_template.md
  architecture/adr_index.md
Due: check-broken-links

docs: add ADRs for Ansible and Molecule
  architecture/adr/adr_26009_adoption_of_ansible_for_idempotent_confi.md
  architecture/adr/adr_26010_adoption_of_molecule_for_automated_ansib.md
  architecture/adr_index.md
Due: none

feat: Fix root dir name output
  tools/scripts/check_broken_links.py
Due: test-check-broken-links

chore: sanitize YAML input for prompt preparation
  ai_system/3_prompts/prepare_prompt.sh
Due: none

feat: Exclude more quote types
  tools/scripts/format_string.py
Due: none

docs: Add security docs on passwords and secrets
  ai_system/security/.gitkeep
  security/password_management/01_password_and_passphrase_management_engineering_team.ipynb
  security/password_management/01_password_and_passphrase_management_engineering_team.md
  security/password_management/02_bootstrap_secret_management_digital_safe_shamirs_s.ipynb
  security/password_management/02_bootstrap_secret_management_digital_safe_shamirs_s.md
  security/password_management/03_ansible_vault_setup_step_by_step_instruction.ipynb
  security/password_management/03_ansible_vault_setup_step_by_step_instruction.md
  security/password_management/aes_256_advanced_encryption_standard_with_a_256_bit.ipynb
  security/password_management/aes_256_advanced_encryption_standard_with_a_256_bit.md
Due: check-broken-links

ci: Add jupytext tests suite
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  tools/tests/test_jupytext_sync.py
  tools/tests/test_jupytext_verify_pair.py
Due: none

feat: Rewrite jupytext sync and verify scripts
  .pre-commit-config.yaml
  tools/scripts/jupytext_sync.py
  tools/scripts/jupytext_verify_pair.py
  tools/scripts/paths.py
  tools/scripts/sync_and_verify.py
Due: test-check-broken-links

chore: Add new abbr to myst.yml
  myst.yml
Due: none

docs: Add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: none

ci: Add explicit paths.py change detection
  .github/workflows/quality.yml
  CLAUDE.md
  tools/docs/scripts_instructions/check_broken_links_py_script.ipynb
  tools/docs/scripts_instructions/check_broken_links_py_script.md
Due: check-broken-links

ci: Run check_broken_links tests only when relevant files change
  .github/workflows/quality.yml
Due: none

feat: Add API key detection script, pre-commit hook, docs
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  misc/plan.md
  tools/docs/scripts_instructions/check_api_keys_py_script.ipynb
  tools/docs/scripts_instructions/check_api_keys_py_script.md
  tools/scripts/check_api_keys.py
  tools/scripts/paths.py
  tools/tests/test_check_api_keys.py
Due: check-broken-links, test-check-broken-links

feat: Add JSON validation script, pre-commit hook, docs
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  tools/docs/scripts_instructions/check_json_files_py_script.ipynb
  tools/docs/scripts_instructions/check_json_files_py_script.md
  tools/scripts/check_json_files.py
  tools/tests/test_check_json_files.py
Due: check-broken-links

WIP: Update deploy action
  .github/workflows/deploy.yml
Due: none

docs: Fix wikipedia link in mystmd
  myst.yml
  security/password_management/01_password_and_passphrase_management_engineering_team.ipynb
  security/password_management/01_password_and_passphrase_management_engineering_team.md
  security/password_management/02_bootstrap_secret_management_digital_safe_shamirs_s.ipynb
  security/password_management/02_bootstrap_secret_management_digital_safe_shamirs_s.md
  security/password_management/03_ansible_vault_setup_step_by_step_instruction.ipynb
  security/password_management/03_ansible_vault_setup_step_by_step_instruction.md
Due: check-broken-links

ci: Refactor quality.yml action
  .github/workflows/quality.yml
Due: none

fix: Fix ci api checks on test files
  .github/workflows/deploy.yml
  .github/workflows/quality.yml
  CONVENTIONS.md
  misc/plan.md
  tools/scripts/check_broken_links.py
  tools/scripts/jupytext_sync.py
  tools/scripts/paths.py
  tools/tests/test_check_api_keys.py
  tools/tests/test_check_broken_links.py
  tools/tests/test_check_json_files.py
  tools/tests/test_jupytext_sync.py
  tools/tests/test_jupytext_verify_pair.py
Due: test-check-broken-links

fix: Change paths to named argument in check_broken_links CLI
  .pre-commit-config.yaml
  tools/scripts/check_broken_links.py
Due: test-check-broken-links

ci: Add jupytext content validation to quality.yml and standardize imports
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  pyproject.toml
  tools/scripts/jupytext_sync.py
  tools/scripts/jupytext_verify_pair.py
  tools/tests/test_jupytext_sync.py
  tools/tests/test_jupytext_verify_pair.py
Due: none

docs: Add pre-commit and CI validation system documentation
  tools/docs/scripts_instructions/precommit_ci_validation_system.ipynb
  tools/docs/scripts_instructions/precommit_ci_validation_system.md
Due: check-broken-links

chore: Update CONVENTIONS.md
  CONVENTIONS.md
Due: none

ci: Add CLAUDE.md to deploy workflow paths-ignore
  .github/workflows/deploy.yml
Due: none

chore: Update gitignore
  .gitignore
Due: none

chore: Clean up files
  .aider.conf.yml
  misc/plan.md
Due: none

style: Refactor jupytext_sync.py to top-down design
  tools/scripts/jupytext_sync.py
Due: none

docs: update README and RELEASE_NOTES for v2.2.0
  README.md
  RELEASE_NOTES.md
Due: none

ci: Fix pre-commit check links
  .pre-commit-config.yaml
Due: none

chore: Update RELEASE_NOTES.md
  RELEASE_NOTES.md
Due: none

pr: add release announcement for v2.2.0
  misc/pr/tg_channel_ai_learning/2026_01_24_release_announcement_v2_2_0.md
Due: none

ci: Check ALL .md files for broken links in GH Actions
  .github/workflows/quality.yml
  tools/docs/scripts_instructions/check_broken_links_py_script.ipynb
  tools/docs/scripts_instructions/check_broken_links_py_script.md
Due: check-broken-links

Path conditions:
  check-broken-links: any of: \.ipynb$
  test-check-broken-links: any of: ^tools/(scripts/check_broken_links\.py|scripts/paths\.py|tests/test_check_broken_links\.py)$
