Repository soviar-systems/ai_engineering_handbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-links, jupytext-sync, jupytext-verify-pair, test-check-broken-links, test-jupytext-sync, test-jupytext-verify-pair

check-broken-links:
  name: Check Broken Links
  entry: uv run --active tools/scripts/check_broken_links.py --pattern "*.md"
  language: python
  pass_filenames: false
  stages:
  - pre-commit
  - manual

jupytext-sync:
  name: Jupytext Sync
  entry: uv run tools/scripts/jupytext_sync.py
  language: python
  pass_filenames: true
  require_serial: true
  stages:
  - pre-commit

jupytext-verify-pair:
  name: Jupytext Verify Pair
  entry: uv run tools/scripts/jupytext_verify_pair.py
  language: python
  pass_filenames: true
  require_serial: true
  stages:
  - pre-commit

test-check-broken-links:
  name: Test Check Broken Links script
  entry: uv run --active pytest tools/tests/test_check_broken_links.py
  language: python
  pass_filenames: false

test-jupytext-sync:
  name: Test Jupytext Sync script
  entry: uv run --active pytest tools/tests/test_jupytext_sync.py
  language: python
  pass_filenames: false

test-jupytext-verify-pair:
  name: Test Jupytext Verify Pair script
  entry: uv run --active pytest tools/tests/test_jupytext_verify_pair.py
  language: python
  pass_filenames: false

feat: Add check_link_format.py script for ipynb link priority
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  0_intro/ai_systems_grounding_in_computing_disciplines.ipynb
  0_intro/ai_systems_grounding_in_computing_disciplines.md
  ai_system/2_model/selection/choosing_model_size.ipynb
  ai_system/2_model/selection/choosing_model_size.md
  ai_system/4_orchestration/patterns/llm_usage_patterns.ipynb
  ai_system/4_orchestration/patterns/llm_usage_patterns.md
  misc/research/slm_from_scratch/01_foundational_neurons_and_backprop/01_foundations.ipynb
  misc/research/slm_from_scratch/01_foundational_neurons_and_backprop/01_foundations.md
  tools/docs/scripts_instructions/check_link_format_py_script.ipynb
  tools/docs/scripts_instructions/check_link_format_py_script.md
  tools/scripts/check_link_format.py
  tools/scripts/paths.py
  tools/tests/test_check_link_format.py
Due: check-broken-links, jupytext-sync, jupytext-verify-pair, test-check-broken-links, test-jupytext-sync, test-jupytext-verify-pair

feat: Add auto-fix functionality to check_link_format.py
  misc/pr/tg_channel_ai_learning/2026_01_24_check_link_format_autofix.md
  tools/docs/scripts_instructions/check_link_format_py_script.ipynb
  tools/docs/scripts_instructions/check_link_format_py_script.md
  tools/scripts/check_link_format.py
  tools/tests/test_check_link_format.py
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

feat: add tests for mode-only change detection in check_script_suite
  tools/docs/scripts_instructions/check_script_suite_py_script.ipynb
  tools/docs/scripts_instructions/check_script_suite_py_script.md
  tools/scripts/check_script_suite.py
  tools/tests/test_check_script_suite.py
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

feat: Refactor prompts directory and update documentation
  ai_system/3_prompts/README.ipynb
  ai_system/3_prompts/README.md
  ai_system/3_prompts/layer_3_prompts_as_infrastructure.ipynb
  ai_system/3_prompts/layer_3_prompts_as_infrastructure.md
  tools/docs/ai_agents/02_aider_commands_handout.ipynb
  tools/docs/ai_agents/02_aider_commands_handout.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

chore: Change scripts mode
  misc/research/slm_from_scratch/02_tokenizer/bpe_tokenizer.py
  misc/research/slm_from_scratch/02_tokenizer/bpe_tokenizer_t.py
  misc/research/slm_from_scratch/02_tokenizer/main.py
  misc/research/slm_from_scratch/old/01_computational_primitives_and_gradients/src/main.py
  misc/research/slm_from_scratch/old/01_computational_primitives_and_gradients/src/neuron.py
  misc/research/slm_from_scratch/old/01_computational_primitives_and_gradients/src/tests.py
  misc/research/slm_from_scratch/old/F_nn_from_scratch/src/main.py
  misc/research/slm_from_scratch/old/F_nn_from_scratch/src/neuron.py
  misc/research/slm_from_scratch/old/F_nn_from_scratch/src/tests.py
  tools/scripts/check_api_keys.py
  tools/scripts/check_json_files.py
  tools/scripts/jupytext_sync.py
  tools/scripts/jupytext_verify_pair.py
  tools/scripts/paths.py
  tools/tests/test_check_api_keys.py
  tools/tests/test_check_broken_links.py
  tools/tests/test_check_json_files.py
  tools/tests/test_check_link_format.py
  tools/tests/test_format_string.py
  tools/tests/test_jupytext_sync.py
  tools/tests/test_jupytext_verify_pair.py
  tools/tests/test_prepare_prompt.py
Due: test-check-broken-links, test-jupytext-sync, test-jupytext-verify-pair

feat: Refactor prepare_prompt.sh to Python
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  ai_system/3_prompts/README.ipynb
  ai_system/3_prompts/README.md
  ai_system/3_prompts/layer_3_prompts_as_infrastructure.ipynb
  ai_system/3_prompts/layer_3_prompts_as_infrastructure.md
  ai_system/3_prompts/prepare_prompt.sh
  tools/docs/scripts_instructions/prepare_prompt_py_script.ipynb
  tools/docs/scripts_instructions/prepare_prompt_py_script.md
  tools/scripts/prepare_prompt.py
  tools/tests/test_prepare_prompt.py
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

feat: Add test suite for format_string.py
  tools/docs/scripts_instructions/format_string_py_script.ipynb
  tools/docs/scripts_instructions/format_string_py_script.md
  tools/tests/test_format_string.py
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

refactor: Move password handbooks to drafts
  misc/in_progress/security/password_management/01_password_and_passphrase_management_engineering_team.ipynb
  misc/in_progress/security/password_management/01_password_and_passphrase_management_engineering_team.md
  misc/in_progress/security/password_management/02_bootstrap_secret_management_digital_safe_shamirs_s.ipynb
  misc/in_progress/security/password_management/02_bootstrap_secret_management_digital_safe_shamirs_s.md
  misc/in_progress/security/password_management/03_ansible_vault_setup_step_by_step_instruction.ipynb
  misc/in_progress/security/password_management/03_ansible_vault_setup_step_by_step_instruction.md
  misc/in_progress/security/password_management/aes_256_advanced_encryption_standard_with_a_256_bit.ipynb
  misc/in_progress/security/password_management/aes_256_advanced_encryption_standard_with_a_256_bit.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

docs: Add missing documentation for jupytext scripts
  .pre-commit-config.yaml
  tools/docs/scripts_instructions/jupytext_sync_py_script.ipynb
  tools/docs/scripts_instructions/jupytext_sync_py_script.md
  tools/docs/scripts_instructions/jupytext_verify_pair_py_script.ipynb
  tools/docs/scripts_instructions/jupytext_verify_pair_py_script.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

docs: Add ADR 26012 for docs-validation-engine extraction
  architecture/adr/adr_26012_extraction_of_docs_validation_engine.md
  architecture/adr_index.md
  tools/docs/scripts_instructions/docs_validation_engine_development_plan.ipynb
  tools/docs/scripts_instructions/docs_validation_engine_development_plan.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

chore: add mystmd as a dependency
  pyproject.toml
  uv.lock
Due: none

docs: Update CLAUDE.md with development workflow and conventions
  CLAUDE.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

feat: Add ADR index synchronization validator
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  CLAUDE.md
  architecture/adr_index.md
  tools/docs/scripts_instructions/check_adr_index_py_script.ipynb
  tools/docs/scripts_instructions/check_adr_index_py_script.md
  tools/scripts/check_adr_index.py
  tools/scripts/paths.py
  tools/tests/test_check_adr_index.py
Due: check-broken-links, jupytext-sync, jupytext-verify-pair, test-check-broken-links, test-jupytext-sync, test-jupytext-verify-pair

feat: Add multi-format support to prepare_prompt.py
  misc/pr/tg_channel_ai_learning/2026_01_25_prepare_prompt_multi_format.md
  pyproject.toml
  tools/docs/scripts_instructions/prepare_prompt_py_script.ipynb
  tools/docs/scripts_instructions/prepare_prompt_py_script.md
  tools/scripts/prepare_prompt.py
  tools/tests/test_prepare_prompt.py
  uv.lock
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

feat: Preserve math multiplication operators in prepare_prompt.py
  tools/docs/scripts_instructions/prepare_prompt_py_script.ipynb
  tools/docs/scripts_instructions/prepare_prompt_py_script.md
  tools/scripts/prepare_prompt.py
  tools/tests/test_prepare_prompt.py
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

feat: Add check_script_suite.py to enforce script+test+doc naming convention
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  tools/docs/scripts_instructions/README.ipynb
  tools/docs/scripts_instructions/README.md
  tools/docs/scripts_instructions/check_script_suite_py_script.ipynb
  tools/docs/scripts_instructions/check_script_suite_py_script.md
  tools/scripts/check_script_suite.py
  tools/tests/test_check_script_suite.py
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

feat: Update onboarding instructions with environment setup
  0_intro/00_onboarding.ipynb
  0_intro/00_onboarding.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

feat: Move precommit CI validation system documentation to git section
  tools/docs/git/03_precommit_ci_validation_system.ipynb
  tools/docs/git/03_precommit_ci_validation_system.md
  tools/docs/scripts_instructions/precommit_ci_validation_system.ipynb
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

refactor: Move how_to_use_scripts_on_gnu_linux text
  tools/docs/scripts_instructions/how_to_use_scripts_on_gnu_linux.ipynb
  tools/docs/scripts_instructions/how_to_use_scripts_on_gnu_linux.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

docs: Update CONVENTIONS.md with detailed guidelines
  CONVENTIONS.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

docs: Add ADR 26011 for mandatory script suite convention
  architecture/adr/adr_26011_formalization_of_mandatory_script_suite.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

docs: Add Just-in-Time Prompt Transformation ADR
  architecture/adr/adr_26013_just_in_time_prompt_transformation.md
  architecture/adr_index.md
  tools/docs/scripts_instructions/prepare_prompt_py_script.ipynb
  tools/docs/scripts_instructions/prepare_prompt_py_script.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

docs: Add workflow specifics to CLAUDE.md
  CLAUDE.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

feat: Refactor configure_repo.sh to Python with test suite and docs
  architecture/adr/adr_26002_adoption_of_pre_commit_framework.md
  tools/docs/git/02_pre_commit_hooks_and_staging_instruction_for_devel.ipynb
  tools/docs/git/02_pre_commit_hooks_and_staging_instruction_for_devel.md
  tools/docs/scripts_instructions/configure_repo_py_script.ipynb
  tools/docs/scripts_instructions/configure_repo_py_script.md
  tools/scripts/configure_repo.py
  tools/scripts/configure_repo.sh
  tools/tests/test_configure_repo.py
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

pr: Add Telegram post about script suite methodology
  misc/pr/tg_channel_ai_learning/2026_01_26_script_suite_methodology.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

fix: Clean up sync_pair function in jupytext_verify_pair
  tools/docs/scripts_instructions/jupytext_verify_pair_py_script.ipynb
  tools/docs/scripts_instructions/jupytext_verify_pair_py_script.md
  tools/scripts/jupytext_verify_pair.py
  tools/tests/test_jupytext_verify_pair.py
Due: check-broken-links, jupytext-sync, jupytext-verify-pair, test-jupytext-verify-pair

feat: Skip unpaired files in jupytext_sync
  tools/docs/scripts_instructions/jupytext_sync_py_script.ipynb
  tools/docs/scripts_instructions/jupytext_sync_py_script.md
  tools/scripts/jupytext_sync.py
  tools/tests/test_jupytext_sync.py
Due: check-broken-links, jupytext-sync, jupytext-verify-pair, test-jupytext-sync

chore: Update test reqs for Claude
  CLAUDE.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

docs: Adopt jupytext for semantic notebook pairing
  architecture/adr/adr_26014_semantic_notebook_pairing_strategy.md
  architecture/adr_index.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

chore: Filter out "pr:" from release notes script
  ai_system/4_orchestration/workflows/release_notes_generation/release_notes_data.sh
Due: none

docs: Add sync-guard and diff suppression ADR
  architecture/adr/adr_26015_mandatory_sync_guard_and_diff_suppression.md
  architecture/adr_index.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

docs: Fix MyST tip directive in check_link_format doc
  tools/docs/scripts_instructions/check_link_format_py_script.ipynb
  tools/docs/scripts_instructions/check_link_format_py_script.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

docs: Update semantic notebook versioning with standards compliance
  tools/docs/jupyter_and_markdown/semantic_notebook_versioning_ai_ready_jupyter_docs.ipynb
  tools/docs/jupyter_and_markdown/semantic_notebook_versioning_ai_ready_jupyter_docs.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

ci: Add auto-fix option to pre-commit hook
  .pre-commit-config.yaml
Due: none

pr: Update 2026_01_26_script_suite_methodology.md
  misc/pr/tg_channel_ai_learning/2026_01_26_script_suite_methodology.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

feat: Add file exclusion list for API key scanning
  tools/docs/scripts_instructions/check_api_keys_py_script.ipynb
  tools/docs/scripts_instructions/check_api_keys_py_script.md
  tools/scripts/check_api_keys.py
  tools/scripts/paths.py
  tools/tests/test_check_api_keys.py
Due: check-broken-links, jupytext-sync, jupytext-verify-pair, test-check-broken-links, test-jupytext-sync, test-jupytext-verify-pair

pr: Add release announcement for v2.3.0
  misc/pr/tg_channel_ai_learning/2026_01_31_release_announcement_v2_3_0.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

docs: Update RELEASE_NOTES and CHANGELOG v2.3.0
  CHANGELOG
  RELEASE_NOTES.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

docs: Update README.md v2.3.0 summary
  README.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

chore: Update README.md
  README.md
Due: check-broken-links, jupytext-sync, jupytext-verify-pair

Path conditions:
  check-broken-links: any of: \.md$
  jupytext-sync: any of: \.(md|ipynb)$
  jupytext-verify-pair: any of: \.(md|ipynb)$
  test-check-broken-links: any of: ^tools/(scripts/check_broken_links\.py|scripts/paths\.py|tests/test_check_broken_links\.py)$
  test-jupytext-sync: any of: ^tools/(scripts/jupytext_sync\.py|scripts/paths\.py|tests/test_jupytext_sync\.py)$
  test-jupytext-verify-pair: any of: ^tools/(scripts/jupytext_verify_pair\.py|scripts/paths\.py|tests/test_jupytext_verify_pair\.py)$
