Repository soviar-systems/ai_engineering_handbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files, check-script-suite, check-evidence, check-adr-index, test-check-broken-links, test-check-link-format, test-jupytext-sync, test-jupytext-verify-pair, test-check-api-keys, test-check-json-files, test-prepare-prompt, test-check-script-suite, test-validate-commit-msg, test-generate-changelog, test-check-evidence, test-check-adr-index

check-broken-links:
  name: Check Broken Links
  entry: uv run --active tools/scripts/check_broken_links.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit
  - manual

check-link-format:
  name: Check Link Format (ipynb priority)
  entry: uv run --active tools/scripts/check_link_format.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit
  - manual

jupytext-sync:
  name: Jupytext Sync
  entry: uv run --active tools/scripts/jupytext_sync.py
  language: python
  pass_filenames: true
  require_serial: true
  stages:
  - pre-commit

jupytext-verify-pair:
  name: Jupytext Verify Pair
  entry: uv run --active tools/scripts/jupytext_verify_pair.py
  language: python
  pass_filenames: true
  require_serial: true
  stages:
  - pre-commit

check-api-keys:
  name: Check API Keys
  entry: uv run --active tools/scripts/check_api_keys.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

check-json-files:
  name: Check JSON Files
  entry: uv run --active tools/scripts/check_json_files.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

check-script-suite:
  name: Check Script Suite (script + test + doc)
  entry: uv run --active tools/scripts/check_script_suite.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

check-evidence:
  name: Validate evidence artifacts
  entry: uv run --active tools/scripts/check_evidence.py --check-staged
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

check-adr-index:
  name: Check ADR Index
  entry: uv run --active tools/scripts/check_adr.py --fix
  language: python
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test-check-broken-links:
  name: Test Check Broken Links script
  entry: uv run --active pytest tools/tests/test_check_broken_links.py
  language: python
  pass_filenames: false

test-check-link-format:
  name: Test Check Link Format script
  entry: uv run --active pytest tools/tests/test_check_link_format.py
  language: python
  pass_filenames: false

test-jupytext-sync:
  name: Test Jupytext Sync script
  entry: uv run --active pytest tools/tests/test_jupytext_sync.py
  language: python
  pass_filenames: false

test-jupytext-verify-pair:
  name: Test Jupytext Verify Pair script
  entry: uv run --active pytest tools/tests/test_jupytext_verify_pair.py
  language: python
  pass_filenames: false

test-check-api-keys:
  name: Test Check API Keys script
  entry: uv run --active pytest tools/tests/test_check_api_keys.py
  language: python
  pass_filenames: false

test-check-json-files:
  name: Test JSON validation script
  entry: uv run --active pytest tools/tests/test_check_json_files.py
  language: system
  pass_filenames: false

test-prepare-prompt:
  name: Test Prepare Prompt script
  entry: uv run --active pytest tools/tests/test_prepare_prompt.py
  language: python
  pass_filenames: false

docs: Add ADR-26040 Podman Kube YAML as deployment standard
  CLAUDE.md
  architecture/adr/adr_26040_podman_kube_yaml_as_deployment_standard.md
  architecture/adr_index.md
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-adr-index

docs: Add ADR-26041 Client-Side Logic with Server-Side Retrieval
  architecture/adr/adr_26041_client_side_logic_with_server_side_retrieval.md
  architecture/adr_index.md
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-adr-index

docs: Add A-26008 frontmatter taxonomy audit and composable block design
  architecture/evidence/analyses/A-26008_frontmatter_standard_taxonomy_audit.md
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence

docs: Promote S-26007 compass source to A-26009 analysis
  architecture/adr/adr_26034_agentic_os_paradigm_skills_as_composable_applications.md
  architecture/adr/adr_26038_context_engineering_as_core_design_principle.md
  architecture/evidence/analyses/A-26006_agent_runtime_architecture_rag_infrastructure.md
  architecture/evidence/analyses/A-26008_frontmatter_standard_taxonomy_audit.md
  architecture/evidence/analyses/A-26009_compass_realistic_state_of_agentic_ai_2026.md
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence, check-adr-index

docs: Add ADR-26042 Common Frontmatter Standard
  architecture/adr/adr_26042_common_frontmatter_standard.md
  architecture/adr_index.md
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
  misc/plan/techdebt.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-adr-index

docs: Add status transition rules and strengthen ADR conventions
  CLAUDE.md
  architecture/adr/adr_config.yaml
  architecture/architecture_decision_workflow_guide.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: Add ADR-26043 Ecosystem Package Boundary
  architecture/adr/adr_26043_ecosystem_package_boundary.md
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-adr-index

adr: Accept 4 ADRs, reject ADR-26003 for release alignment
  architecture/adr/adr_26003_adoption_of_gitlint_for_tiered_workflow.md
  architecture/adr/adr_26011_formalization_of_mandatory_script_suite.md
  architecture/adr/adr_26024_structured_commit_bodies_for_automated_changelog.md
  architecture/adr/adr_26038_context_engineering_as_core_design_principle.md
  architecture/adr/adr_26040_podman_kube_yaml_as_deployment_standard.md
  architecture/adr/adr_26043_ecosystem_package_boundary.md
  architecture/adr_index.md
  architecture/evidence/sources/S-26006_gemini_agentic_os_design_review.md
  architecture/evidence/sources/S-26008_gemini_langchain_agents_tools_memory.md
  architecture/evidence/sources/S-26009_gemini_local_git_repo_rag_pgvector.md
  architecture/evidence/sources/S-26010_gemini_stateless_jit_agentic_git_workflow.md
  architecture/evidence/sources/S-26011_gemini_pgvector_viability_and_logic_locality.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence, check-adr-index

feat: Add optional truncation, en-dash support, and extension stripping to format_string
  tools/docs/scripts_instructions/format_string_py_script.ipynb
  tools/docs/scripts_instructions/format_string_py_script.md
  tools/scripts/format_string.py
  tools/tests/test_format_string.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-script-suite

docs: Update roadmap with new ADRs, insights, and release plan
  misc/insights.md
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
  misc/plan/plan_20260314_release_preparation_adr_alignment.md
  misc/todo.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

fix: Drop commits with no surviving bullets from changelog output
  tools/docs/scripts_instructions/generate_changelog_py_script.ipynb
  tools/docs/scripts_instructions/generate_changelog_py_script.md
  tools/scripts/generate_changelog.py
  tools/tests/test_generate_changelog.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-script-suite, test-generate-changelog

docs: Archive gherkin plan as implemented
  misc/plan/implemented/plan_20260217_gherkin_analysis_and_extraction_tool.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: Fact-check A-26009 and align ADR-26038 with verified evidence
  architecture/adr/adr_26038_context_engineering_as_core_design_principle.md
  architecture/evidence/analyses/A-26009_compass_realistic_state_of_agentic_ai_2026.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence, check-adr-index

chore: Add v2.7.0 release artifacts
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
  misc/pr/tg_channel_ai_learning/2026_03_14_release_announcement_v2_7_0.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: Fix Nginx absolute_redirect bug in multi-site deployment guide
  tools/docs/website/02_self_hosted_deployment.ipynb
  tools/docs/website/02_self_hosted_deployment.md
  tools/docs/website/configs/multi-site/nginx.conf
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: Apply ADR-26042 frontmatter to A-26009 compass analysis
  architecture/evidence/analyses/A-26009_compass_realistic_state_of_agentic_ai_2026.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence

docs: Add Kilo Code CLI setup guide with ADR-26042 frontmatter
  tools/docs/ai_agents/05_kilocode_cli_setup.ipynb
  tools/docs/ai_agents/05_kilocode_cli_setup.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

chore: Add myst package and bump ansible to 13.4.0
  pyproject.toml
  uv.lock
Due: check-api-keys, test-validate-commit-msg, test-generate-changelog

docs: Correct Kilo Code CLI guide and add philosophy warning
  tools/docs/ai_agents/05_kilocode_cli_setup.ipynb
  tools/docs/ai_agents/05_kilocode_cli_setup.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: Archive release prep plan as implemented
  misc/plan/implemented/plan_20260314_release_preparation_adr_alignment.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: Add ADR workflow Rule 4 and database design principles source
  architecture/architecture_decision_workflow_guide.md
  architecture/evidence/sources/S-26012_adr_001_database_ecosystem_design_principles.md
  misc/plan/implemented/2026-03-17_integrate-adr-001-and-db-projects-into-ecosystem.md
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence

docs: Document commit subject alignment with changelog-visible bullets
  CLAUDE.md
  tools/docs/scripts_instructions/generate_changelog_py_script.ipynb
  tools/docs/scripts_instructions/generate_changelog_py_script.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-script-suite

docs: Add ADR-26044 and refine ADR-26038 and ADR-26034
  architecture/adr/adr_26034_agentic_os_paradigm_skills_as_composable_applications.md
  architecture/adr/adr_26038_context_engineering_as_core_design_principle.md
  architecture/adr/adr_26044_skills_as_progressive_disclosure_units.md
  architecture/adr_index.md
  misc/insights.md
  misc/todo.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-adr-index

docs: Add Lean-vadocs analogy source and analysis
  architecture/evidence/analyses/A-26011_vadocs_as_structural_type_checker_lean_analogy.md
  architecture/evidence/sources/2026_semantic_checker/S-26013_lean_as_grpo_verifier_formal_hybrid_generation.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence

feat(ai_system): add ai_brainstorming_colleague agent configuration
  ai_system/3_prompts/consultants/ai_brainstorming_colleague.json
Due: check-api-keys, check-json-files

docs: Add ADR-26044 and refine ADR-26036, ADR-26042, A-26010, manifesto
  architecture/adr/adr_26036_config_file_location_and_naming_conventions.md
  architecture/adr/adr_26042_common_frontmatter_standard.md
  architecture/adr/adr_26044_skills_as_progressive_disclosure_units.md
  architecture/evidence/analyses/A-26010_config_file_distribution_patterns.md
  architecture/manifesto.md
  misc/plan/plan_20260320_ecosystem_governance_model_config_architecture.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-evidence, check-adr-index

docs: Create .vadocs/conf.yaml and align ADR-26042 with MyST spec
  .vadocs/conf.yaml
  architecture/adr/adr_26042_common_frontmatter_standard.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-adr-index

docs: Refine config plan and update CLAUDE.md for .vadocs/ conventions
  CLAUDE.md
  misc/plan/plan_20260320_ecosystem_governance_model_config_architecture.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

feat: Migrate governance configs from YAML to JSON with hub-spoke structure
  .pre-commit-config.yaml
  .vadocs/README.md
  .vadocs/conf.json
  .vadocs/conf.schema.json
  .vadocs/conf.yaml
  .vadocs/types/adr.conf.json
  .vadocs/types/evidence.conf.json
  CLAUDE.md
  architecture/adr/adr_26017_adr_format_validation_workflow.md
  architecture/adr/adr_26029_pyproject_toml_as_tool_config_hub.md
  architecture/adr/adr_26035_architecture_knowledge_base_taxonomy.md
  architecture/adr/adr_26036_config_file_location_and_naming_conventions.md
  architecture/adr/adr_26054_json_as_governance_config_format.md
  architecture/adr/adr_config.yaml
  architecture/adr_index.md
  architecture/architecture.config.yaml
  architecture/architecture_decision_workflow_guide.md
  architecture/evidence/analyses/A-26001_architecture_knowledge_base_taxonomy.md
  architecture/evidence/analyses/A-26012_adr_index_restructuring_tag_sectioning.md
  architecture/evidence/analyses/A-26013_json_as_governance_config_format.md
  architecture/evidence/analyses/A-26014_script_suite_doc_redundancy.md
  architecture/evidence/evidence.config.yaml
  misc/plan/plan_20260308_ecosystem_roadmap_vadocs_to_mentor.md
  misc/plan/plan_20260320_ecosystem_governance_model_config_architecture.md
  misc/plan/plan_20260323_adr_index_two_level_sectioning.md
  misc/plan/techdebt.md
  misc/todo.md
  pyproject.toml
  tools/docs/scripts_instructions/check_adr_py_script.ipynb
  tools/docs/scripts_instructions/check_adr_py_script.md
  tools/docs/scripts_instructions/check_evidence_py_script.ipynb
  tools/docs/scripts_instructions/check_evidence_py_script.md
  tools/docs/scripts_instructions/git_py_script.md
  tools/scripts/check_adr.py
  tools/scripts/check_evidence.py
  tools/scripts/git.py
  tools/scripts/paths.py
  tools/tests/test_check_adr.py
  tools/tests/test_check_evidence.py
  tools/tests/test_git.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files, check-script-suite, check-evidence, check-adr-index, test-check-broken-links, test-check-link-format, test-jupytext-sync, test-jupytext-verify-pair, test-check-api-keys, test-check-json-files, test-prepare-prompt, test-check-script-suite, test-validate-commit-msg, test-generate-changelog, test-check-evidence, test-check-adr-index

docs: Add separation-of-concerns rule and anti-pattern to ADR workflow guide
  architecture/architecture_decision_workflow_guide.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

feat: Add two-level ADR index sectioning by status and primary tag
  .vadocs/types/adr.conf.json
  CLAUDE.md
  architecture/adr/adr_26001_use_of_python_and_oop_for_git_hook_scripts.md
  architecture/adr/adr_26002_adoption_of_pre_commit_framework.md
  architecture/adr/adr_26003_adoption_of_gitlint_for_tiered_workflow.md
  architecture/adr/adr_26004_implementation_of_agentic_rag_for_autonom.md
  architecture/adr/adr_26005_formalization_of_aider_as_primary_agentic.md
  architecture/adr/adr_26006_agentic_class_models_for_architect_phase.md
  architecture/adr/adr_26007_formalization_of_phase_0_intent_synthesi.md
  architecture/adr/adr_26008_reasoning_class_models_for_abstract_synt.md
  architecture/adr/adr_26009_adoption_of_ansible_for_idempotent_confi.md
  architecture/adr/adr_26010_adoption_of_molecule_for_automated_ansib.md
  architecture/adr/adr_26011_formalization_of_mandatory_script_suite.md
  architecture/adr/adr_26012_extraction_of_docs_validation_engine.md
  architecture/adr/adr_26013_just_in_time_prompt_transformation.md
  architecture/adr/adr_26014_semantic_notebook_pairing_strategy.md
  architecture/adr/adr_26015_mandatory_sync_guard_and_diff_suppression.md
  architecture/adr/adr_26022_standardization_of_public_documentation_hosting.md
  architecture/adr/adr_26026_dedicated_research_monorepo_for_volatile.md
  architecture/adr/adr_26027_model_taxonomy_reasoning_vs_agentic_class.md
  architecture/adr/adr_26028_tool_agnostic_phase_0_intent_synthesis.md
  architecture/adr/adr_26029_pyproject_toml_as_tool_config_hub.md
  architecture/adr/adr_26030_stateless_jit_context_injection_for_agentic_git_workflow.md
  architecture/adr/adr_26032_tiered_cognitive_memory_procedural_skills.md
  architecture/adr/adr_26034_agentic_os_paradigm_skills_as_composable_applications.md
  architecture/adr/adr_26038_context_engineering_as_core_design_principle.md
  architecture/adr/adr_26039_pgvector_as_ecosystem_database_standard.md
  architecture/adr/adr_26040_podman_kube_yaml_as_deployment_standard.md
  architecture/adr/adr_26041_client_side_logic_with_server_side_retrieval.md
  architecture/adr/adr_26044_skills_as_progressive_disclosure_units.md
  architecture/adr/adr_template.md
  architecture/adr_index.md
  architecture/architecture_decision_workflow_guide.md
  misc/plan/implemented/plan_20260323_adr_index_two_level_sectioning.md
  tools/docs/scripts_instructions/check_adr_py_script.ipynb
  tools/docs/scripts_instructions/check_adr_py_script.md
  tools/scripts/check_adr.py
  tools/tests/test_check_adr.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files, check-script-suite, check-adr-index, test-check-adr-index

feat: Add Claude Code skills for consultant prompts with sv- namespace
  .claude/skills/sv-ai-brainstorm-colleague/SKILL.md
  .claude/skills/sv-ai-brainstorm-colleague/prompt.json
  .claude/skills/sv-ai-systems-consultant-hybrid/SKILL.md
  .claude/skills/sv-ai-systems-consultant-hybrid/prompt.json
  .claude/skills/sv-devops-consultant/SKILL.md
  .claude/skills/sv-devops-consultant/prompt.json
  .claude/skills/sv-handbook-reviewer/SKILL.md
  .claude/skills/sv-handbook-reviewer/prompt.json
  .claude/skills/sv-local-ai-systems-consultant/SKILL.md
  .claude/skills/sv-local-ai-systems-consultant/prompt.json
  .claude/skills/sv-python-test-architect/SKILL.md
  .claude/skills/sv-python-test-architect/prompt.json
  tools/docs/ai_agents/claude/creating_consultant_skills.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files

feat: Add config-driven frontmatter validator (ADR-26042)
  .pre-commit-config.yaml
  CLAUDE.md
  architecture/evidence/analyses/A-26015_frontmatter_validator_architecture.md
  architecture/evidence/sources/S-26014_devops_consultant_frontmatter_validator_assessment.md
  misc/plan/plan_20260325_check_frontmatter_design.md
  tools/docs/scripts_instructions/check_frontmatter_py_script.md
  tools/scripts/check_frontmatter.py
  tools/tests/test_check_frontmatter.py
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-script-suite, check-evidence

chore: Move check_frontmatter plan to implemented
  misc/plan/implemented/plan_20260325_check_frontmatter_design.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: Split format-as-architecture into two-part series
  .vadocs/conf.json
  ai_system/3_prompts/appendix_yaml_serializer_variance.ipynb
  ai_system/3_prompts/appendix_yaml_serializer_variance.md
  ai_system/3_prompts/format_as_architecture_signal_noise_in_prompt_delivery.ipynb
  ai_system/3_prompts/format_as_architecture_signal_noise_in_prompt_delivery.md
  ai_system/3_prompts/token_economics_of_prompt_delivery.ipynb
  ai_system/3_prompts/token_economics_of_prompt_delivery.md
  architecture/evidence/analyses/A-26016_causal_masking_attention_mechanics_for_prompt_engineering.md
  architecture/evidence/analyses/A-26017_yaml_serializer_variance_token_economics.md
  architecture/evidence/analyses/A-26018_xml_tags_scope_isolation_prompt_architecture.md
  architecture/evidence/sources/S-26013_lean_as_grpo_verifier_formal_hybrid_generation.md
  architecture/evidence/sources/S-26015_handbook_peer_review_format_as_architecture.md
  architecture/evidence/sources/S-26016_gemini_prompt_tags_noise_or_anchors.md
  architecture/evidence/sources/S-26017_qwen_causal_masking_kv_cache.md
  architecture/evidence/sources/S-26018_yaml_serializer_token_variance.md
  misc/plan/implemented/plan_20260325_format_as_architecture_series_refinement.md
  misc/plan/implemented/plan_20260327_yaml_serializer_variance_analysis.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys, check-json-files, check-evidence

feat: Update ai_brainstorming_colleague to v0.2.0
  ai_system/3_prompts/consultants/ai_brainstorming_colleague.json
Due: check-api-keys, check-json-files

docs: Add MyST ref, evidence hygiene, and PyYAML conventions
  CLAUDE.md
  misc/todo.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

chore: Prepare v2.8.0 release
  CHANGELOG
  CLAUDE.md
  README.md
  RELEASE_NOTES.md
  misc/plan/techdebt.md
  misc/pr/tg_channel_ai_learning/2026_03_29_release_announcement_v2_8_0.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

docs: Convert ADR links to {term} cross-reference format in RNs and README
  README.md
  RELEASE_NOTES.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

pr: Add v2.8.0 Telegram release announcement
  misc/pr/tg_channel_ai_learning/2026_03_29_release_announcement_v2_8_0.md
Due: check-broken-links, check-link-format, jupytext-sync, jupytext-verify-pair, check-api-keys

Path conditions:
  check-broken-links: any of: \.md$
  check-link-format: any of: \.md$
  jupytext-sync: any of: \.(md|ipynb)$
  jupytext-verify-pair: any of: \.(md|ipynb)$
  check-api-keys: any file but: ^(tools/tests/test_check_api_keys\.py|tools/docs/scripts_instructions/check_api_keys_py_script\.md)$
  check-json-files: any of: \.json$, but not: ^(tools/tests/|\.vscode/)
  check-script-suite: any of: ^tools/(scripts/.*\.py|tests/test_.*\.py|docs/scripts_instructions/.*_py_script\.md)$
  check-evidence: any of: ^architecture/evidence/
  check-adr-index: any of: ^architecture/(adr/adr_.*\.md|adr_index\.md)$
  test-check-broken-links: any of: ^tools/(scripts/check_broken_links\.py|scripts/paths\.py|tests/test_check_broken_links\.py)$
  test-check-link-format: any of: ^tools/(scripts/check_link_format\.py|scripts/paths\.py|tests/test_check_link_format\.py)$
  test-jupytext-sync: any of: ^tools/(scripts/jupytext_sync\.py|scripts/paths\.py|tests/test_jupytext_sync\.py)$
  test-jupytext-verify-pair: any of: ^tools/(scripts/jupytext_verify_pair\.py|scripts/paths\.py|tests/test_jupytext_verify_pair\.py)$
  test-check-api-keys: any of: ^tools/(scripts/check_api_keys\.py|scripts/paths\.py|tests/test_check_api_keys\.py)$
  test-check-json-files: any of: ^tools/(scripts/check_json_files\.py|scripts/paths\.py|tests/test_check_json_files\.py)$
  test-prepare-prompt: any of: ^tools/(scripts/prepare_prompt\.py|scripts/paths\.py|tests/test_prepare_prompt\.py)$
  test-check-script-suite: any of: ^tools/(scripts/check_script_suite\.py|scripts/paths\.py|tests/test_check_script_suite\.py)$
  test-validate-commit-msg: any of: ^(tools/(scripts/validate_commit_msg\.py|tests/test_validate_commit_msg\.py)|pyproject\.toml)$
  test-generate-changelog: any of: ^(tools/(scripts/generate_changelog\.py|tests/test_generate_changelog\.py)|pyproject\.toml)$
  test-check-evidence: any of: ^(tools/scripts/check_evidence\.py|tools/tests/test_check_evidence\.py|tools/scripts/paths\.py|architecture/evidence/evidence\.config\.yaml)$
  test-check-adr-index: any of: ^tools/(scripts/check_adr\.py|tests/test_check_adr\.py)$
